
.recipe {
	background-color: white;
	border-radius: 4px;
	margin: 0 10px 20px 10px;
	padding: 20px;
	height: fit-content;
	width: 320px;
	transition: box-shadow 0.1s ease-out;
}

.recipe:hover {
	cursor: pointer;
	box-shadow: 3px 3px 6px 0px #d8d8d8;
}

.recipeTopRow {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #d8d8d8;
}

.recipeTilteContainer {
	/*
		320px total space
		- 27px glass icon
		- 27px close icon
		- 8px margin on both sides
	*/
	max-width: 250px;
	text-align: center;
	text-wrap: balance;
}
h2.recipeTitle {
	font-size: 20px;
	color: #000000;
	word-wrap: break-word;
}


.ingredient {
	display: flex;
	margin-bottom: 5px;
	width: 320px;
}

.procedure {
	margin-top: 10px;
	font-style:italic;
}

.measure {
	width: 30px;
	text-align: right;
}

.unit {
	width: 50px;
	margin-left: 10px;
}

.rest {
	width: 240px;
	margin-left: 10px;
}

.glassIcon {
	/* 
		Keep in sync with
		.favIconContainer.width
		 so that .recipeTitle will
		 always be centered.
	*/
	width: 27px;
}

.favIconContainer {
	/*
		Keep in sync with
		.glassIcon.width
		so that .recipeTitle will
		always be centered.
	*/
	width: 27px;
	text-align: right;
}

.favIcon {
	height: 25px;
}