body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	background-image: url("./damask_pattern.png");
	margin: 10px 0;
}

/* 360px and above */
@media only screen and (min-width: 360px) {
	body {
		padding: 10px 0;
	}

	.upperContainer {
		width: 100%;
		align-self: center;
	}
}

/* 600px and above */
@media only screen and (min-width: 600px) {
	body {
		padding: 10px;
	}

	.upperContainer {
		width: 600px;
		align-self: center;
	}
}

.totalRecipesCount {
	font-weight: 700;
	width: 30px;
	text-align: center;
}

.topLevelContainer {
	margin: 20px;
}

.upperContainer {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
}
.upperContainerContent {
	padding: 15px;
}

.searchCategoryTitle {
	color: #3e3e3e;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.inputContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.inputsColumn {
	width: 55%;
}

.suggestionsColumn {
	width: 40%;}

.suggestionHeader {
	margin-bottom: 5px;
	font-size: 13px;
	font-style: italic;
	padding-bottom: 5px;
	border-bottom: 1px dotted gray;
}

.inputRow {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	width: 100%;
}

input {
	height: 25px;
	width: 80%;
	padding-left: 8px;
	opacity: 1;
	border: 1px solid gray;
	border-radius: 3px;
}
input::placeholder {
  font-style: italic;
}

.closeIconContainer {
	/*
		Keep in sync with
		.glassIcon.width
		so that .recipeTitle will
		always be centered.
	*/
	width: 27px;

	align-self: flex-start;
	text-align: right;
}

.closeIcon {
	height: 18px;
	margin-left: 5px;
	cursor: pointer;
}

.closeIcon:hover {
	background-color: #f4f7f9;
}

.recipeTopRow {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #d8d8d8;
}

.modalCloseBtn {
	visibility: hidden;
}

.modalized .modalCloseBtn {
	visibility: visible;
}

.recipeNameInput {
	height: 33px;
	margin-bottom: 0;
}

.suggestion {
	height: 30px;
	margin-bottom: 7px;
	display: block;
	background-color: white;
	border: 1px solid #d5e1e8;
	border-radius: 3px;
	text-align: left;
	padding: 0 10px;
	cursor: pointer;
	background-color: #f4f7f9;
}

.suggestion:hover {
	background-color: #d5e1e8;
}

.addSuggestion {
	margin-right: 3px;
	color: #8da3b0;
}

.submitBtn {
	width: 100%;
	height: 40px;
	background-color: #d5e1e8;
	border: 0;
	border-radius: 4px;
	color: #4c5459;
	font-size: 16px;
	cursor: pointer;
}
.submitBtn:hover {
	box-shadow: 2px 2px 2px 0px #c4d1d9;
}

h1, h2, h3 {
	margin: 0;
	color: #101010;
}
h1 {
	font-size: 30px;
}
.subheadCta {
	margin-top: 5px;
	font-style: italic;
	padding-bottom: 5px;
	border-bottom: 1px solid #d8d8d8;
}


.recipeTilteContainer {
	/*
		320px total space
		- 27px glass icon
		- 27px close icon
		- 8px margin on both sides
	*/
	max-width: 250px;
	text-align: center;
	text-wrap: balance;
}
h2.recipeTitle {
	font-size: 20px;
	color: #000000;
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.match {
	background-color: white;
	border-radius: 4px;
	margin: 0 10px 20px 10px;
	padding: 20px;
	height: fit-content;
	width: 320px;
}

.match:hover {
	cursor: pointer;
}

.match.modalized:hover {
	cursor: default;
}

.ingredient {
	display: flex;
	margin-bottom: 5px;
	width: 320px;
}

.procedure {
	margin-top: 10px;
	font-style:italic;
}

.measure {
	width: 30px;
	text-align: right;
}

.unit {
	width: 50px;
	margin-left: 10px;
}

.rest {
	width: 240px;
	margin-left: 10px;
}

.resultsSummary {
	padding: 10px;
	margin-top: 10px;
	background-color: white;
	border-radius: 3px;
	font-size: 18px;
}

.cocktailOfTheDayHdr {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
}

.modalBg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	position: fixed;
  left: 0;
  top: 0;
	overflow: hidden;
}

.glassIcon {
	/* 
		Keep in sync with
		.closeIconContainer.width
		 so that .recipeTitle will
		 always be centered.
	*/
	width: 27px;
}