body {
	font-family: "Helvetica", sans-serif;
	padding: 10px;
	background-image: url("./damask_pattern.png");
}

.upperContainer {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	width: 360px;
	margin: auto;
}
.upperContainerContent {
	padding: 15px;
}

.inputContainer {
	display: flex;
}

.inputsColumn {
	width: 200px;
}

.suggestionsColumn {
	width: 140px;
}

input {
	height: 25px;
	width: 150px;
	padding-left: 8px;
	margin-bottom: 15px;
	opacity: 1;
	border: 1px solid gray;
	border-radius: 3px;
}

.suggestion {
	height: 30px;
	margin-bottom: 10px;
	display: block;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
	text-align: left;
	padding: 0 10px;
	cursor: pointer;
}

.suggestion:hover {
	background-color: #f4f4f4;
}

.addSuggestion {
	margin-left: 10px;
}

.submitBtn {
	width: 70px;
	height: 30px;
}

h1, h2, h3 {
	margin: 0 0 15px 0;
}
h1 {
	font-size: 30px;
}

.results {
	margin: 20px auto 0 auto;
	width: 360px;
}

.match {
	background-color: white;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 20px;
	width: 320px;
}

.ingredient {
	display: flex;
	margin-bottom: 5px;
	width: 320px;
}

.procedure {
	margin-top: 10px;
	font-style:italic;
}

.measure {
	width: 30px;
	text-align: right;
}

.unit {
	width: 50px;
	margin-left: 10px;
}

.rest {
	width: 240px;
	margin-left: 10px;
}